<head>
    <style>
      body{
          background-color:black;
          color:whitesmoke;
      }

        input{
            color:black;
        }
    </style>
</head>

<h2>{{title}}</h2>

<br>

<!--*** display a welcome message with the authenticated users name ***-->
{{#if username}}
    <p>Hello {{username}}, welcome.</p>
{{/if}}
<br>

<!--*** add a quote request section ***-->
<div class="add-quote">
    <h3>Add a New Quote Request</h3>
    <form id="addQuote" class="form-horizontal" action="/add" method="post">
        <input id="quote-name" name="quoteName" type="text" placeholder="enter name"><br>
        <input id="description" name="description" type="text" placeholder="enter request description"><br>
        <input id="quote-budget" name="budget" type="number" placeholder="enter budget"><br>
        <input id= "userIdString" type="hidden" name="user_id" value="{{userID}}"><br><!--hidden field that passes the logged in user's ID to body request-->
        <input id="add-quote-btn" name="add" type="submit" value="add" class="btn btn-success">
    </form>
</div>

<br>
<br>

<!--*** view a list of submitted quote requests ***-->
<h3>Submitted Quote Requests</h3>
<div id="quote-list">

    {{#if quotes}}

        <ul id="quote-list">
            {{#each quotes}}
                <li>
                    <h3>{{this.name}}</h3><strong>request date:</strong> {{this.quoteDate}} <br><strong>description:</strong> {{this.description}}
                     <form class="deactivate-form" action="/deactivate" method="post">
                        <input class="btn btn-danger" type="submit" name="deactivate" value="deactivate">
                        <input type="hidden" name="_id" value="{{this._id}}">
                    </form>
                </li>
            {{/each}}
        </ul>

    {{else}}

        <p>You do not have any active quote requests.</p>

    {{/if}}
    <br>
    <br>
    <br>
    <button onclick="window.location.href='/deactivated'" class="btn btn-default">View Inactive Requests</button>


</div>

<br>
<br>


<!--*** log out link ***-->
<a href="/logout">Log out</a>
